.infobox{
	width:200px;
	.message{
		border:1px solid red;
		.title{
			color:red;
		}
	}
	.user{
		border:2px solid pink;
		.title{
			color:black;
		}
		.wrap{
			background-color: #333;
		}
	}
}

.infobox{
	color:blue;
	.user &{
		color:gray;
	}
}

.infobox > {
	.message{
		border:1px solid red;
		> .title{
			color:red;
		}
	}
}